# setup.py can generate these directories:
/dist/
/build/
/Doc/apidoc/

# Ignore these files:
*.py[co]
.DS_Store
MANIFEST

# Autoconf
/autom4te.cache
/autoscan.log
/config.h
/config.log
/config.status

# Backup files
*~
