# setup.py can generate these directories:
/dist/
/build/
/Doc/apidoc/

# Ignore these files:
*.py[co]
.DS_Store
MANIFEST

# Autoconf
/aclocal.m4
/buildenv
/autom4te.cache
/autoscan.log
/config.h
/config.log
/config.status
src/config.h
src/stamp-h1

# Python versions
/tools/py/

# Backup files
*~
