include MANIFEST.in
include *.rst
include Doc/index.rst Doc/src/*
include Doc/conf.py Doc/Makefile Doc/make.bat
include Doc/python-3-changes.txt Doc/Changelog.pycrypto
include Doc/epydoc-config
graft Doc/LEGAL
recursive-include src *.h *.c
include .separate_namespace
include *.py
