include MANIFEST.in
include *.rst
include Doc/index.rst
recursive-include Doc/src *
include Doc/conf.py Doc/Makefile Doc/make.bat
include Doc/python-3-changes.txt Doc/Changelog.pycrypto
graft Doc/LEGAL
recursive-include src *.h *.c
include .separate_namespace
include setup.py pct-speedtest.py
include appveyor.yml appveyor/get_wheels.sh appveyor/install.ps1 appveyor/run_with_env.cmd
include .travis.yml travis/*.sh
graft src/test
prune src/test/build
