include MANIFEST.in
include *.rst
include .separate_namespace
include setup.py pct-speedtest.py compiler_opt.py setup.cfg
graft Doc
prune Doc/_build
include appveyor.yml appveyor/get_wheels.sh appveyor/install.ps1 appveyor/run_with_env.cmd
include .travis.yml travis/*.sh
recursive-include src *.h *.c
graft src/test
recursive-exclude src *.pyc
prune src/test/build
